:root {
  --primary: #6c5a6f;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "itim", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(80, 177, 210, 0.8);
  border-bottom: 1 px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #2d50a7;
  font-family: "Itim", serif;
  font-style: normal;
}

.navbar .navbar-logo span {
  color: #b326c8;
  font-family: "Sriracha", system-ui;
  font-weight: 400;
  font-style: normal;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1.5rem;
}

.navbar .navbar-nav a:hover {
  color: #6c5a6f;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.05rem;
  border-bottom: 0.1rem solid #785218;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #6c5a6f;
}

#Tripple-menu {
  display: none;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  #Tripple-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.25);
  }
}

/* Tablet/Ipad */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 40rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.2rem;
  }

  .Bikes .row {
    flex-wrap: wrap;
  }

  .Bikes p {
    font-size: 1.6rem;
  }
}

/* Handpone */
@media (max-width: 450px) {
  html {
    font-size: 550%;
  }

  #Tripple-menu {
    display: inline-block;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .Bikes .row {
    flex-wrap: wrap;
  }

  .Bikes .p {
    font-size: 1.2rem;
  }
}

.bike {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(Sepeda13.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #a29494;
  position: relative;
}

.bike::after {
  content: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 0.5) 8%,
    rgba(255, 255, 255, 0.3) 50%
  );
}

.bike .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.bike .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1;
}

.bike .content h1 span {
  color: rgba(43, 177, 222, 0.8);
}

.bike .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.2;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  mix-blend-mode: difference;
}

.bike .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1 px 1px 3px rgba(1, 1, 3, 0.5);
}

.about {
  padding: 8rem 7% 1.4rem;
  color: #000;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

.Bikes {
  color: #000;
  padding: 8rem 7% 1.4rem;
}

.Bikes h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.Bikes h2 span {
  color: #2c96dc;
  font-family: "Sriracha", serif;
  font-weight: 400;
  font-style: normal;
}

.Bikes p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.Bikes .row {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.Bikes .row .Bikes-card {
  text-align: center;
  padding-bottom: 3rem;
}

.Bikes .row .Bikes-card-tittle {
  margin: 1rem auto 0.5rem;
}

.Bikes .row .Bikes-card img {
  width: 85%;
}

.Contact {
  padding: 8rem 7% 1.4rem;
  color: #000;
}

.Contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.Contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.Contact .row {
  margin-top: 2rem;
  background-color: #984009;
}

.Contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.Contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding-left: 2rem;
}

.Contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #000;
}

.Contact .row form .btn {
  margin: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: #3fd52e;
  cursor: pointer;
}

footer {
  color: #ffffff;
  background-color: #6c5a6f;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
  padding-bottom: 1rem 0;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover {
  color: #000;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a:hover {
  color: #ffffff;
}

footer .links a {
  color: #000;
  padding: 0.7rem 1.2rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #87eddc;
  font-weight: 550;
}
